body{
    margin: 0;
    padding: 0;
    background: url('hd-wallpaper-geb7931f35_1920.jpg') ;
    background-size:cover;
}
.box{
    width:450px;
    background:rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin:auto;
    margin-top:5%;
    color:white;

}
.box-img{
    border-radius: 50%;
    width:200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;

}
.box p{
    text-align: justify;
}
.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}